@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes gradientBorderChange {
  0% {
    border-image: linear-gradient(to bottom, #93c5fd, #1e3a8a) 1;
  }
  50% {
    border-image: linear-gradient(to bottom, #1e3a8a, #93c5fd) 1;
  }
  100% {
    border-image: linear-gradient(to bottom, #93c5fd, #1e3a8a) 1;
  }
}

.border-animated {
  border-right-width: 3px;
  border-right-style: solid;
  border-image-slice: 1;
  animation: gradientBorderChange 6s infinite alternate ease-in-out;
}

.hover-gradient-animate:hover {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #93c5fd, #1e3a8a, #93c5fd);
  animation: gradientBackgroundMove 6s infinite linear;
}

@keyframes gradientBackgroundMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}