@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes borderColorChange {
  0% {
    border-right-color: #93c5fd; 
  }
  20% {
    border-right-color: #60a5fa; 
  }
  40% {
    border-right-color: #3b82f6; 
  }
  60% {
    border-right-color: #2563eb; 
  }
  80% {
    border-right-color: #1e40af; 
  }
  100% {
    border-right-color: #1e3a8a; 
  }
}

.border-animated {
  border-right-width: 3px;
  border-right-style: solid;
  animation: borderColorChange 6s infinite alternate ease-in-out;
}